@use 'variables' as vars;

body:has(#error-container) {
	display: flex;
	justify-content: center;
	align-items: center;
}

#error-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;

	max-width: 600px;
	margin: 16px;
	padding: 32px;
	background-color: vars.$background-color;
	text-align: center;
	border: 2px solid vars.$border-color;
	border-radius: 16px;
	box-shadow: 0 0 8px vars.$border-color;

	& #error-code {
		color: vars.$accent;
	}

	& h1,
	h2,
	p {
		margin: 0;
	}
}
