@import "_variables.scss";

#about-me {
	max-width: 1000px;
	margin-bottom: 24px;

	p {
		width: auto;
		max-width: 600px;
		height: fit-content;

		font-family: $system-sans;
	}

	.image {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	img {
		max-width: 200px;
		height: auto;
		min-height: 0;
		max-height: 240px;

		object-fit: cover;
		box-shadow: 0 0 8px #00000080;
	}

	.row-right,
	.row-left {
		position: relative;
	}

	.row-right {
		align-self: flex-start;

		p {
			margin-left: 20px;
			text-align: left;
		}

		img {
			margin-right: 8px;
			border-radius: 8px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.row-left {
		align-self: flex-end;

		p {
			margin-right: 20px;
			text-align: right;
		}

		img {
			margin-left: 8px;
			border-radius: 8px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

#about-me-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-me-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: fit-content;
	max-width: 100%;
	margin: 32px 0;
	padding: 16px;

	background-color: $background-color;
	transition: background-color $theme-transition-duration;

	div {
		z-index: 10;
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 600px) {
	#about-me .gradient-accent::after {
		display: none;
		max-height: 160px;
	}

	.about-me-row {
		flex-direction: column;

		margin: 0;
		padding: 16px 20px;
		border: 0;
		border-radius: 0;
		filter: none;

		p:first-child {
			margin-top: 16px;
		}

		p:last-child {
			margin-bottom: 16px;
		}
	}

	#about-me {
		.row-left {
			p {
				margin-right: 0;
				text-align: left;
			}

			img {
				padding: 0;
				border-radius: 8px;
			}
		}

		.row-right {
			p {
				margin-left: 0;
			}

			img {
				padding: 0;
				border-radius: 8px;
			}
		}
	}
}
