@use "_variables.scss" as vars;

#portfolio {
	h1 {
		width: fit-content;
	}
}

#portfolio-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 32px;
}

#portfolio-container .portfolio-item {
	position: relative;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: var(--background-color);
	z-index: 100;
	border: 2px solid var(--border-color);
	margin-bottom: 32px;
	border-radius: 12px;
	box-sizing: border-box;
	overflow: hidden;
	transition: border vars.$theme-transition-duration, background-color vars.$theme-transition-duration;

	&::after {
		z-index: -1;
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		filter: blur(64px);
		background: radial-gradient(circle at bottom right, var(--glow-color), transparent 60%);
		background-repeat: no-repeat;
		background-position: bottom right;
		opacity: 0.7;
	}

	img {
		width: 100%;
	}

	h2 {
		position: relative;
		width: fit-content;
		margin-bottom: 8px;
	}

	h2::after {
		content: "";
		position: absolute;
		top: 100%;
		bottom: -2px;
		left: 0;
		width: 0;
		background-image: linear-gradient(100deg, #bd1321, #e23745, #e64a3f, #e66146);
		transition: all 0.2s vars.$super-ease-out;
	}

	&:hover h2::after {
		width: 100%;
	}

	.portfolio-summary {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		padding: 0 32px;
		font-family: vars.$system-sans;
		font-size: 1rem;

		.portfolio-links {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			margin-left: 8px;

			ul {
				list-style-type: none;
				margin-left: 16px;
				padding-left: 0;
			}

			li {
				pointer-events: none;
				box-sizing: border-box;
			}

			li::before {
				content: "› ";
				font-weight: bolder;
				font-size: 2rem;
				vertical-align: middle;
				opacity: 0.6;
				padding-bottom: 0.4rem;
				transition: all 0.4s vars.$super-ease-out;
			}

			li a.primary,
			li:has(.primary)::before {
				color: vars.$accent;
			}

			li a {
				height: 100%;
				font-size: 1.4rem;
				vertical-align: middle;
				text-decoration: none;
				color: var(--text-color);
				opacity: 0.6;
				pointer-events: auto;
				transition: all 0.4s vars.$super-ease-out;
			}

			li a:hover {
				opacity: 1;
				margin-left: 4px;
			}

			li:hover::before {
				opacity: 1;
			}
		}

		.tags-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 4px;

			.tag {
				background-color: #bd1321;
				cursor: default;
				opacity: 0.8;
				font-size: 0.8rem;
				white-space: nowrap;
				text-overflow: ellipsis;
				border-radius: 12px;
				padding: 2px 8px;
				transition: all 0.4s vars.$super-ease-in-out;
			}

			.tag:hover {
				opacity: 1;
				transform: scale(1.03);
			}

			.tag:first-child {
				margin-left: 0;
			}

			.tag:last-child {
				margin-right: 0;
			}
		}
	}
}

.dark #portfolio-container .portfolio-item::after {
	opacity: 1;
}

@media only screen and (max-width: 600px) {
	.portfolio-item {
		width: calc(100vw - vars.$padding-width - vars.$padding-width);
	}
}

@media only screen and (max-height: 600px) {
	.portfolio-item {

		.portfolio-description {
			margin-top: 8px;
			padding: 0 8px;

			p:first-child {
				margin-top: 4px;
			}

			p:last-child {
				margin-bottom: 4px;
			}
		}

		img {
			display: none;
		}

	}
}
