@import "_variables.scss";

.email-container, .socials-container {
	width: fit-content;
	margin: auto;
	display: flex;
	transition: all 0.2s;
	overflow: visible;
}

.email-container,
.socials-container,
.source-link-container {
	margin-bottom: 16px;
}

.socials-container {
	flex-direction: row;
}

.source-link-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px 0;
}

.social {
	margin: 0 16px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.social-name {
		opacity: 0.6;
		margin-top: 4px;
	}
}

.email,
.source-link {
	text-align: center;
	text-decoration: none;
	cursor: pointer;
    font-weight: 400;
	margin-left: 0.25em;
	margin-right: 2px;
	transition: all 0.2s;

	&:hover {
		/*color: #262445;*/
		text-decoration: underline;
	}
}

.source-link {
	font-size: smaller;
	color: $light-text;
	opacity: 0.6;
	font-family: monospace;
	transition: opacity 0.3s $super-ease-in-out;

	&:hover {
		opacity: 1;
	}
}
