body {
  background-color: #1c1b3d;
  color: #d0d0d0;
  font-family: "Geologica", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(35deg, rgba(28, 27, 61, 0.8941176471), rgba(28, 27, 61, 0.6274509804)), url(noise.svg);
  background-color: #1c1b3d;
  background-attachment: fixed;
}

.noise {
  font-weight: 700;
  background-image: linear-gradient(100deg, #bd1321, #e23745, #e64a3f, #e66146);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  transition: transform 0.8s cubic-bezier(0.1, 0.5, 0.15, 0.8);
  background-image: linear-gradient(35deg, rgba(28, 27, 61, 0.8941176471), rgba(28, 27, 61, 0.6274509804)), url(noise.svg);
  background-color: #1c1b3d;
}

.pad-sides {
  padding: 0 20px;
}

.gradient {
  font-weight: 700;
  background-image: linear-gradient(100deg, #bd1321, #e23745, #e64a3f, #e66146);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  transition: transform 0.8s cubic-bezier(0.1, 0.5, 0.15, 0.8);
}
.gradient.grow:hover {
  transform: scale(1.04);
}

.navbar {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0 20px;
}

.navbar-content {
  height: 100%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-content nav * {
  margin-left: 10px;
  color: #d0d0d0 !important;
}

.logo {
  aspect-ratio: 1;
  height: 70%;
  border-radius: 50%;
  filter: url(#noise);
}

.header {
  position: relative;
  margin: 80px auto 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  min-height: calc(100vh - 80px);
}

.title *,
.subtitle * {
  display: inline-block;
  margin: 0;
  margin-right: 16px;
}

.title {
  font-size: 30pt;
  margin-bottom: 60px;
}

.subtitle {
  max-width: 450px;
  font-size: 18pt;
  text-align: left;
  margin-bottom: 140px;
}

.social-buttons {
  position: absolute;
  bottom: 40px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.social-buttons a,
.social-buttons a:link,
.social-buttons a:hover,
.social-buttons a:visited,
.social-buttons a:active {
  color: #d0d0d0;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.25s cubic-bezier(0.1, 0.5, 0.15, 0.8), transform 0.8s cubic-bezier(0.1, 0.5, 0.15, 0.8);
}
.social-buttons a:hover,
.social-buttons a:link:hover,
.social-buttons a:hover:hover,
.social-buttons a:visited:hover,
.social-buttons a:active:hover {
  opacity: 1;
  transform: scale(1.15);
}
.social-buttons i {
  margin: 0 16px;
  font-size: 36pt;
}

.learn-more {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 20px;
  opacity: 0.7;
  width: 100%;
  text-align: center;
}

.skills {
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-backdrop-filter: brightness(80%) blur(20px);
          backdrop-filter: brightness(80%) blur(20px);
}
.skills > h2 {
  font-weight: 300;
  font-size: 24pt;
  text-align: center;
  filter: brightness(2);
  margin-top: 0;
  margin-bottom: 1.5em;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skill {
  margin: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: filter 0.9s cubic-bezier(0.1, 0.5, 0.15, 0.8);
  transform: scale(1);
  filter: brightness(0.8);
}
.skill:hover {
  transform: scale(1.06);
  filter: brightness(1);
}
.skill > img {
  min-width: 50px;
  width: 6vw;
  min-height: 50px;
  height: 6vw;
}
.skill > span {
  margin-top: 8px;
}/*# sourceMappingURL=index.css.map */