@import "_variables.scss";

html {
	scroll-behavior: smooth;
}

body,
html {
	color: $text-color;
	font-family: "Geologica", sans-serif;
	margin: 0;
	padding: 0;
	max-width: 100vw;
	background-color: $background-color /*#1c1b3d*/;
	background-attachment: fixed;
	transition: background-color 0.3s, color 0.3s;

	& * {
		scroll-margin-top: calc($navbar-height + 16px);
	}
}

.background-canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0.4;
	pointer-events: none;
	filter: var(--bg-canvas-filter);
}

#background-canvas {
	clip-path: rect($navbar-height 0 100% 100%);
}

#background-canvas-navbar {
	clip-path: rect(0 0 $navbar-height 100%);
	z-index: 500;
	opacity: 0.4;
}

main {
	& a {
		color: $link-color;
	}
}

.section {
	position: relative;
	padding-bottom: 20px !important;
	margin-bottom: 16px;

	&.dark-background {
		border: 2px solid #eeeeee40;
		filter: drop-shadow(0 0 8px #eeeeee20);
		border-left: none;
		border-right: none;
	}

	&#contact {
		padding-bottom: 0 !important;
	}
}

.noise {
	font-weight: 700;
	background-image: $primary-gradient;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: default;
	transition: transform 0.8s $super-ease-in-out;

	background-image: $blue-noise;
	background-color: #1c1b3d;

	&.lighten {
		background-size: 30px;
	}
}

.lighten {
	filter: brightness(2);
}

.dark-background {
	/*-webkit-backdrop-filter: brightness(70%) blur(20px);
	backdrop-filter: brightness(70%) blur(20px);*/
	background-color: $background-color; //#302d53;
	transition: background-color 0.3s;
	z-index: 100;
	box-shadow: 0 0 16px #00000060;
}

.system-font {
	font-family: $system-sans;
}

.pad-sides {
	padding: 0 $padding-width;
}

.pad-sides-more {
	padding: 0 60px;
}

.clamp-width {
	margin: auto;
	max-width: $max-content-width;
}

.gradient {
	font-weight: 700;
	width: fit-content;
	background-image: $primary-gradient;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: default;
	transition: transform 0.8s $super-ease-in-out;
	text-shadow: none !important;

	&.grow:hover {
		transform: scale(1.04);
	}

	&.glow {
		filter: drop-shadow(0 0 12px #e64a3fa0);
	}
}

.gradient-underline {
	position: relative;
	width: fit-content;

	&::after {
		content: "";
		position: absolute;
		top: 100%;
		bottom: -2px;
		left: 0;
		width: 100%;
		background-image: $primary-gradient;
	}
}

.gradient-accent {
	$thickness: -4px;

	position: relative;
	width: fit-content;
	height: fit-content;

	&::after {
		content: "";
		position: absolute;
		background-color: $text-color;
		opacity: 0.8;
		z-index: 90;
		transition: background-color 0.3s;
	}

	&.glow::after {
		filter: drop-shadow(0 0 4px $text-color);
		transition: filter 0.3s;
	}

	&.right::after {
		left: 100%;
		right: $thickness;
		top: 0;
		height: 100%;
	}

	&.left::after {
		right: 100%;
		left: $thickness;
		top: 0;
		height: 100%;
	}

	&.bottom::after {
		top: 100%;
		bottom: $thickness;
		left: 0;
		width: 100%;
	}
}

.orange-border {
	border: 2px solid transparent;
	transition: border 0.5s $super-ease-in-out;

	&:hover {
		border: 2px solid #e23745;
		filter: drop-shadow(0 0 4px $accent-fade);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes move-up {
	from {
		transform: translateY(20px);
	}
	to {
		transform: translateY(0%);
	}
}

.transparent {
	opacity: 0;
}

.header-animation {
	animation: fade-in 0.75s $super-ease-in, move-up 0.75s $super-ease-out;
	animation-iteration-count: 1;
}

.navbar {
	--backdrop-filter-opacity: 1;
	z-index: 400;
	height: $navbar-height;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0 20px;
	padding-bottom: $navbar-blur;
	// isolation: isolate;
	// background: linear-gradient(to bottom, #1c1b3d 0, #1c1b3df0 8px, #1c1b3d80 50%, #1c1b3d80 100%);
	// background-image: linear-gradient(to top, transparent, transparent 10%, $background-color 90%);

	&::before {
		content: "";
		position: absolute;
		top: -20px;
		right: 0;
		bottom: 50%;
		left: 0;
		z-index: -1;

		opacity: var(--backdrop-filter-opacity);
		background-color: $background-color;
		transition: background-color 0.3s;
		// backdrop-filter: blur(80px);
		pointer-events: none;
	}

	&::after {
		content: "";
		position: absolute;
		top: -20px;
		right: 0;
		bottom: 12px;
		left: 0;
		z-index: -1;

		opacity: var(--backdrop-filter-opacity);
		background-color: $background-color;
		transition: background-color 0.3s;
		filter: blur(20px);
		// backdrop-filter: blur(80px);
		// border-radius: 24px;
	}
}

#navbar-name {
	position: relative;
	color: $text-color;
	transition: color 0.3s;

	z-index: 900;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 100%;
		height: 4px;
		transform: skew(-18deg);
		background: #e64a3f60;
		box-shadow: 0 0 12px #e64a3fa0;
		z-index: -1;
	}
}

#theme-button {
	border: none;
	background: none;
	z-index: 900;
	margin-left: 16px;
	cursor: pointer;
}

#theme-icon {
	filter: $invert-filter;
	margin-bottom: -4px;
}

.navbar-content {
	height: 100%;
	margin: auto;
	max-width: $navbar-width;
	display: flex;
	justify-content: stretch;
	align-items: center;

	& > h1 {
		font-weight: 500;
		margin-left: 20px;
	}

	nav {
		margin-left: auto;
		z-index: 900;
	}

	nav * {
		margin-left: 12px;
		color: $text-color !important;
		width: fit-content;
		background: linear-gradient(100deg, $text-color, $text-color 33%, #bd1321, #e23745, #e64a3f, #e66146);
		background-clip: text;
		background-size: 300% 100%;
		-webkit-text-fill-color: transparent;
		text-decoration: none;
		transition: color 0.3s;
		cursor: pointer;

		&:hover {
			background-position: top left 100%;
		}
	}
}

.hide-background {
	position: relative;
	--blur-filter: blur(20px);
		
	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	left: -32px;
	// 	top: -32px;
	// 	right: -32px;
	// 	bottom: -32px;

	// 	// background-color: $background-color;
	// 	opacity: 0.9;
	// 	filter: blur(20px);
	// 	-webkit-backdrop-filter: var(--blur-filter);
	// 	backdrop-filter: var(--blur-filter);
	// 	z-index: -1;
	// 	pointer-events: none;
	// }
}

.logo {
	aspect-ratio: 1;
	height: 70%;
	z-index: 1000;
	border-radius: 50%;
	filter: url(#noise);
}

.header {
	position: relative;
	margin: $navbar-height auto 1em auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: fit-content;
	min-height: min(calc(100vh - $navbar-height), 1200px);
}

.section-header {
	text-align: center;
	padding-top: 16px;
	margin: 0 auto 24px auto;
}

.title,
.subtitle {
	* {
		display: inline-block;
		margin: 0;
		margin-right: 16px;
	}
}

.title {
	font-size: 30pt;
	margin-bottom: 60px;
}

.subtitle {
	max-width: 450px;
	font-size: 18pt;
	text-align: left;
	margin-bottom: 60px + $navbar-height;
}

// .title *,
// .subtitle *,
// .section-header:not(.noise) {
// 		text-shadow: 1px 1px 10px #000000a0;
// }

#social-buttons {
	position: absolute;
	bottom: $navbar-height / 2;
	margin-bottom: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	a,
	a:link,
	a:hover,
	a:visited,
	a:active {
		color: $text-color;
		text-decoration: none;
		opacity: 0.7;
		transition: opacity 0.25s $super-ease-in-out, transform 0.8s $super-ease-in-out;
		margin: 0 16px;
		transition: color 0.3s;

		&:hover {
			opacity: 1;
			transform: scale(1.15);
		}
	}

	i {
		font-size: $social-button-size;
	}
}

.social-button {
	&,
	&:link,
	&:hover,
	&:visited,
	&:active {
		color: $text-color;
		text-decoration: none;
		opacity: 0.7;
		transition: opacity 0.25s $super-ease-in-out, transform 0.8s $super-ease-in-out;
		margin: 0 16px;
		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			opacity: 1;
		}
	}

	i {
		font-size: $social-button-size;
	}
}

@keyframes arrow {
	from {
		top: -2px;
	}
	to {
		top: 2px;
	}
}

#learn-more-container {
	position: absolute;
	opacity: 0.7;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 20px;
	width: 100%;
	text-align: center;

	a {
		color: inherit;
		text-decoration: underline;
		text-decoration-color: transparent;
		transition: all 0.2s;

		&:hover {
			text-decoration-color: inherit;
		}
	}

	.arrow {
		font-size: 120%;
		left: 2px;
		position: relative;
		display: inline-block;
		animation-name: arrow;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-direction: alternate;
		animation-iteration-count: infinite;
	}
}

#skills {
	& > h2 {
		font-weight: 300;
		font-size: 24pt;
		text-align: center;
		margin-top: 0;
		margin-bottom: 1.5em;
	}
}

#skills-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.skill {
	margin: 8px 16px;
	display: flex;
	flex: 1 1 0px;
	flex-direction: column;
	align-items: center;
	transition: filter 0.9s $super-ease-in-out;
	transform: scale(1);
	filter: brightness(0.8);

	&:hover {
		filter: brightness(1);
	}

	& > img {
		min-width: 50px;
		min-height: 50px;
		width: auto;
		height: 6vw;
		max-width: 120px;
		max-height: 120px;
	}

	& > span {
		margin-top: 8px;
		position: relative;
		width: fit-content;
	}

	& > span::after {
		content: "";
		position: absolute;
		top: 100%;
		bottom: -2px;
		left: 0;
		width: 0;
		background-image: $primary-gradient;
		transition: all 0.2s $super-ease-out;
	}

	&:hover span::after {
		width: 100%;
	}
}

@media only screen and (max-width: 650px) {
	#navbar-name {
		display: none;
	}

	.title {
		font-size: 20pt;
	}

	.subtitle {
		font-size: 14pt;
	}
}
