@charset "UTF-8";
:root {
  --background-color: #eeeeee;
  --background-color-fade: #eeeeee40;
  --text-color: #222222;
  --text-color-fade: #22222250;
  --border-color: #00000020;
  --navbar-backdrop-brightness: 1;
  --invert-filter: invert(0);
}

:root:has(body.dark) {
  --background-color: #101010;
  --background-color-fade: #10101040;
  --text-color: #dddddd;
  --text-color-fade: #dddddd50;
  --border-color: #ffffff20;
  --navbar-backdrop-brightness: 0.4;
  --invert-filter: invert(1);
}

#about-me {
  max-width: 1000px;
  margin-bottom: 24px;
}
#about-me p {
  width: auto;
  max-width: 600px;
  height: -moz-fit-content;
  height: fit-content;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#about-me .image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#about-me img {
  max-width: 200px;
  height: auto;
  min-height: 0;
  max-height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5019607843);
}
#about-me .row-right,
#about-me .row-left {
  position: relative;
}
#about-me .row-right {
  align-self: flex-start;
}
#about-me .row-right p {
  margin-left: 20px;
  text-align: left;
}
#about-me .row-right img {
  margin-right: 8px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#about-me .row-left {
  align-self: flex-end;
}
#about-me .row-left p {
  margin-right: 20px;
  text-align: right;
}
#about-me .row-left img {
  margin-left: 8px;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  margin: 32px 0;
  padding: 16px;
  background-color: var(--background-color);
  transition: background-color var(--theme-transition-duration);
}
.about-me-row div {
  z-index: 10;
}
.about-me-row p:first-child {
  margin-top: 0;
}
.about-me-row p:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  #about-me .gradient-accent::after {
    display: none;
    max-height: 160px;
  }
  .about-me-row {
    flex-direction: column;
    margin: 0;
    padding: 16px 20px;
    border: 0;
    border-radius: 0;
    filter: none;
  }
  .about-me-row p:first-child {
    margin-top: 16px;
  }
  .about-me-row p:last-child {
    margin-bottom: 16px;
  }
  #about-me .row-left p {
    margin-right: 0;
    text-align: left;
  }
  #about-me .row-left img {
    padding: 0;
    border-radius: 8px;
  }
  #about-me .row-right p {
    margin-left: 0;
  }
  #about-me .row-right img {
    padding: 0;
    border-radius: 8px;
  }
}
#portfolio h1 {
  width: -moz-fit-content;
  width: fit-content;
}

#portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 32px;
}

#portfolio-container .portfolio-item {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background-color);
  z-index: 100;
  border: 2px solid var(--border-color);
  margin-bottom: 32px;
  border-radius: 12px;
  box-sizing: border-box;
  overflow: hidden;
  transition: border var(--theme-transition-duration), background-color var(--theme-transition-duration);
}
#portfolio-container .portfolio-item::after {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  filter: blur(64px);
  background: radial-gradient(circle at bottom right, var(--glow-color), transparent 60%);
  background-repeat: no-repeat;
  background-position: bottom right;
  opacity: 0.7;
}
#portfolio-container .portfolio-item img {
  width: 100%;
}
#portfolio-container .portfolio-item h2 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 8px;
}
#portfolio-container .portfolio-item h2::after {
  content: "";
  position: absolute;
  top: 100%;
  bottom: -2px;
  left: 0;
  width: 0;
  background-image: linear-gradient(100deg, #bd1321, #e23745, #e64a3f, #e66146);
  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}
#portfolio-container .portfolio-item:hover h2::after {
  width: 100%;
}
#portfolio-container .portfolio-item .portfolio-summary {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 0 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
#portfolio-container .portfolio-item .portfolio-summary .portfolio-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 8px;
}
#portfolio-container .portfolio-item .portfolio-summary .portfolio-links ul {
  list-style-type: none;
  margin-left: 16px;
  padding-left: 0;
}
#portfolio-container .portfolio-item .portfolio-summary .portfolio-links li {
  pointer-events: none;
  box-sizing: border-box;
}
#portfolio-container .portfolio-item .portfolio-summary .portfolio-links li::before {
  content: "› ";
  font-weight: bolder;
  font-size: 2rem;
  vertical-align: middle;
  opacity: 0.6;
  padding-bottom: 0.4rem;
  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
#portfolio-container .portfolio-item .portfolio-summary .portfolio-links li a.primary,
#portfolio-container .portfolio-item .portfolio-summary .portfolio-links li:has(.primary)::before {
  color: #e23745;
}
#portfolio-container .portfolio-item .portfolio-summary .portfolio-links li a {
  height: 100%;
  font-size: 1.4rem;
  vertical-align: middle;
  text-decoration: none;
  color: var(--text-color);
  opacity: 0.6;
  pointer-events: auto;
  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
#portfolio-container .portfolio-item .portfolio-summary .portfolio-links li a:hover {
  opacity: 1;
  margin-left: 4px;
}
#portfolio-container .portfolio-item .portfolio-summary .portfolio-links li:hover::before {
  opacity: 1;
}
#portfolio-container .portfolio-item .portfolio-summary .tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
#portfolio-container .portfolio-item .portfolio-summary .tags-list .tag {
  background-color: #bd1321;
  cursor: default;
  opacity: 0.8;
  font-size: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 12px;
  padding: 2px 8px;
  transition: all 0.4s cubic-bezier(0.1, 0.5, 0.15, 0.8);
}
#portfolio-container .portfolio-item .portfolio-summary .tags-list .tag:hover {
  opacity: 1;
  transform: scale(1.03);
}
#portfolio-container .portfolio-item .portfolio-summary .tags-list .tag:first-child {
  margin-left: 0;
}
#portfolio-container .portfolio-item .portfolio-summary .tags-list .tag:last-child {
  margin-right: 0;
}

.dark #portfolio-container .portfolio-item::after {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .portfolio-item {
    width: calc(100vw - 20px - 20px);
  }
}
@media only screen and (max-height: 600px) {
  .portfolio-item .portfolio-description {
    margin-top: 8px;
    padding: 0 8px;
  }
  .portfolio-item .portfolio-description p:first-child {
    margin-top: 4px;
  }
  .portfolio-item .portfolio-description p:last-child {
    margin-bottom: 4px;
  }
  .portfolio-item img {
    display: none;
  }
}
.email-container,
.socials-container {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  overflow: visible;
  transition: all 0.2s;
}

.email-container,
.socials-container,
.source-link-container {
  margin-bottom: 16px;
}

.socials-container {
  flex-direction: row;
}

.source-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 16px;
}
.social .social-name {
  opacity: 0.6;
  margin-top: 4px;
}
.social .social-button:hover {
  transform: none !important;
}
.social .social-button:hover ~ .social-name {
  text-decoration: underline;
}

.email,
.source-link {
  margin-left: 0.25em;
  margin-right: 2px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}
.email:hover,
.source-link:hover {
  text-decoration: underline;
}

.source-link {
  color: var(--text-color);
  opacity: 0.6;
  font-size: smaller;
  font-family: monospace;
  transition: opacity 0.3s cubic-bezier(0.1, 0.5, 0.15, 0.8);
}
.source-link:hover {
  opacity: 1;
}

@font-face {
  font-family: "Geologica";
  src: url(../fonts/Geologica.ttf);
}
html {
  scroll-behavior: smooth;
}

html:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--background-color);
  background-image: radial-gradient(var(--border-color) 2px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;
}

body,
html {
  max-width: 100dvw;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  background-attachment: fixed;
  font-family: "Geologica", sans-serif;
  transition: background-color var(--theme-transition-duration), color var(--theme-transition-duration);
}
body *,
html * {
  scroll-margin-top: 96px;
}

body {
  background-color: var(--background-color);
}

a {
  cursor: pointer;
}

a.button {
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid var(--text-color-fade);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-decoration: none;
}
a.button:hover {
  background-color: color-mix(in srgb, var(--border-color) 60%, transparent);
}

main a {
  color: #367bf5;
}

.section {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 20px !important;
}
.section.dark-background {
  border: 2px solid rgba(238, 238, 238, 0.2509803922);
  border-left: none;
  border-right: none;
  filter: drop-shadow(0 0 8px rgba(238, 238, 238, 0.1254901961));
}
.section#contact {
  margin-bottom: 0 !important;
}

.lighten {
  filter: brightness(2);
}

.dark-background {
  z-index: 100;
  background-color: var(--background-color);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3764705882);
  transition: background-color var(--theme-transition-duration);
}

.system-font {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pad-sides {
  padding: 0 20px;
}

.pad-sides-more {
  padding: 0 60px;
}

.clamp-width {
  margin: auto;
  max-width: 1600px;
}

.gradient {
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(100deg, #d62b39, #e23745 30%, #e64a3f 60%, #e45147 100%);
  -webkit-background-clip: text;
          background-clip: text;
  cursor: default;
  font-weight: 700;
  text-shadow: none !important;
  -webkit-text-fill-color: transparent;
  transition: transform 0.8s cubic-bezier(0.1, 0.5, 0.15, 0.8);
}
.gradient.glow {
  text-shadow: 0 0 12px rgba(230, 74, 63, 0.6274509804) !important;
}

.gradient-underline {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.gradient-underline::after {
  content: "";
  position: absolute;
  top: 100%;
  bottom: -2px;
  left: 0;
  width: 100%;
  background-image: linear-gradient(100deg, #d62b39, #e23745 30%, #e64a3f 60%, #e45147 100%);
}

.gradient-accent {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.gradient-accent::after {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  opacity: 0.8;
  z-index: 90;
  transition: background-color var(--theme-transition-duration);
}
.gradient-accent.glow::after {
  filter: drop-shadow(0 0 4px var(--text-color));
  transition: filter var(--theme-transition-duration);
}
.gradient-accent.right::after {
  left: 100%;
  right: -4px;
  top: 0;
  height: 100%;
}
.gradient-accent.left::after {
  right: 100%;
  left: -4px;
  top: 0;
  height: 100%;
}
.gradient-accent.bottom::after {
  top: 100%;
  bottom: -4px;
  left: 0;
  width: 100%;
}

.orange-border {
  border: 2px solid transparent;
  transition: border 0.5s cubic-bezier(0.1, 0.5, 0.15, 0.8);
}
.orange-border:hover {
  border: 2px solid #e23745 !important;
  filter: drop-shadow(0 0 4px rgba(230, 74, 63, 0.5019607843)) !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes move-up {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0%);
  }
}
.transparent {
  opacity: 0;
}

.header-animation {
  animation: fade-in 0.75s cubic-bezier(0.33, 0, 0.68, 0), move-up 0.75s cubic-bezier(0.33, 1, 0.68, 1);
  animation-iteration-count: 1;
}

.navbar {
  --backdrop-filter-opacity: 1;
  --navbar-opacity-percent: 0%;
  --navbar-header-size: 24px;
  --navbar-logo-height: 100%;
  z-index: 400;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0 20px;
  padding-bottom: 8px;
}
.navbar .logo {
  height: calc(var(--navbar-logo-height));
}

#navbar-name {
  position: relative;
  text-wrap: nowrap;
  color: var(--text-color);
  transition: color var(--theme-transition-duration);
  z-index: 900;
}
#navbar-name::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
  transform: skew(-18deg);
  background: rgba(230, 74, 63, 0.3764705882);
  box-shadow: 0 0 12px rgba(230, 74, 63, 0.6274509804);
  z-index: -1;
}

.navbar-content {
  height: 100%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 12px;
}
.navbar-content h1 {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  margin-left: 12px;
  margin-right: 20px;
}
.navbar-content #nav-container * {
  margin-left: 12px;
  color: var(--text-color) !important;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(100deg, var(--text-color), var(--text-color) 33%, #bd1321, #e23745, #e64a3f, #e66146);
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 300% 100%;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  transition: color var(--theme-transition-duration);
  cursor: pointer;
}
.navbar-content #nav-container *:first-child {
  margin-left: 16px;
}
.navbar-content #nav-container *:hover {
  background-position: top left 100%;
}

.navbar-group {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 900;
  height: 2lh;
  box-shadow: 0 0 12px var(--text-color-fade);
  box-shadow: inset 0 0 4px color-mix(in srgb, var(--text-color-fade) var(--navbar-opacity-percent), transparent);
  border-radius: 24px;
}
.navbar-group:not(:first-child) {
  margin-left: auto;
}
.navbar-group::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: color-mix(in srgb, var(--background-color) 60%, transparent);
  transition: background-color var(--theme-transition-duration);
}
.navbar-group:hover::before {
  background-color: color-mix(in srgb, var(--background-color) 86%, transparent);
}
.navbar-group::after {
  position: absolute;
  content: "";
  z-index: -12;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border: 1px solid color-mix(in srgb, var(--text-color-fade) var(--navbar-opacity-percent), transparent);
  border-radius: inherit;
  opacity: var(--navbar-opacity-percent);
}
@supports ((-webkit-mask-composite: xor) or (mask-composite: exclude)) or (-webkit-mask-composite: xor) {
  .navbar-group::after {
    border: none;
    background-image: linear-gradient(to bottom right, var(--text-color-fade) 10%, var(--border-color));
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: exclude;
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
            mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    padding: 1px;
  }
}

.navbar-buttons {
  display: flex;
  gap: 4px;
  padding-right: 8px;
}
.navbar-buttons button {
  border: none;
  background: none;
  z-index: 1000;
  margin-left: 16px;
  padding: 0;
}
.navbar-buttons button:hover img {
  filter: invert(39%) sepia(72%) saturate(599%) hue-rotate(318deg) brightness(91%) contrast(96%);
  cursor: pointer;
}
.navbar-buttons button img {
  filter: var(--invert-filter);
  margin-bottom: -4px;
}

#nav-menu-button {
  display: none;
}

#theme-button {
  margin-right: 4px;
}

#theme-button img,
#nav-menu-button img {
  height: 1.5lh;
}

.logo {
  position: relative;
  aspect-ratio: 1;
  z-index: 1000;
  border-radius: 50%;
}

#home {
  position: relative;
  margin: 0 auto 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 100svh;
}

.section-header {
  text-align: center;
  padding-top: 16px;
  margin: 0 auto 24px auto;
}

.title *,
.subtitle * {
  display: inline-block;
  margin: 0;
  margin-right: 16px;
}

.title {
  font-size: 30pt;
  margin-bottom: 60px;
}

.subtitle {
  max-width: 450px;
  font-size: 18pt;
  text-align: left;
  margin-bottom: 140px;
}

#social-buttons {
  position: absolute;
  bottom: 40px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social-button, .social-button:link, .social-button:hover, .social-button:visited, .social-button:active {
  color: var(--text-color);
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.25s cubic-bezier(0.1, 0.5, 0.15, 0.8), filter 0.25s, transform 0.8s cubic-bezier(0.1, 0.5, 0.15, 0.8), color var(--theme-transition-duration);
  margin: 0 16px;
}
.social-button:hover, .social-button:link:hover, .social-button:hover:hover, .social-button:visited:hover, .social-button:active:hover {
  opacity: 1;
  filter: drop-shadow(0 0 8px var(--text-color-fade));
  transform: scale(1.1);
}
.social-button img {
  height: 2.5lh;
  filter: var(--invert-filter);
}

@keyframes arrow {
  from {
    top: -2px;
  }
  to {
    top: 2px;
  }
}
#learn-more-container {
  position: absolute;
  opacity: 0.7;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 20px;
  width: 100%;
  text-align: center;
}
#learn-more-container a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.2s;
}
#learn-more-container a:hover {
  text-decoration-color: inherit;
}
#learn-more-container .arrow {
  font-size: 120%;
  left: 2px;
  position: relative;
  display: inline-block;
  animation-name: arrow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

#skills > h2 {
  font-weight: 300;
  font-size: 24pt;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5em;
}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.skill {
  margin: 8px 16px;
  display: flex;
  width: 10%;
  flex-direction: column;
  align-items: center;
  transition: filter 0.9s cubic-bezier(0.1, 0.5, 0.15, 0.8);
  transform: scale(1);
  filter: brightness(0.8);
}
.skill:hover {
  filter: brightness(1);
}
.skill > img {
  min-width: 50px;
  min-height: 50px;
  width: auto;
  height: 6vw;
  max-width: 60px;
  max-height: 60px;
}
.skill > span {
  margin-top: 8px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}
.skill > span::after {
  content: "";
  position: absolute;
  top: 100%;
  bottom: -2px;
  left: 0;
  width: 0;
  background-image: linear-gradient(100deg, #d62b39, #e23745 30%, #e64a3f 60%, #e45147 100%);
  transition: all 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}
.skill:hover span::after {
  width: 100%;
}

.spin {
  animation: 0.5s ease-in-out 0 spin 1;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 700px) {
  #nav-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: x-large;
    background-color: var(--background-color);
    opacity: 0;
    transition: right 0.3s, visibility 0.3s, opacity 0.3s, background-color var(--theme-transition-duration);
  }
  #nav-container.open {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
  .navbar-buttons {
    margin: auto 8px;
    padding: 0 !important;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .navbar-buttons button {
    margin: auto 4px !important;
  }
  .navbar-buttons button img:hover {
    filter: var(--invert-filter) !important;
  }
  .navbar-buttons img:not([src]) {
    font-size: 0;
  }
  #nav-menu-button {
    display: block;
  }
  .navbar-group:has(.logo) {
    border: none;
    box-shadow: none;
  }
  .logo {
    margin: 0;
    height: 100% !important;
  }
  #navbar-name {
    display: none;
  }
  .title {
    font-size: 20pt;
  }
  .subtitle {
    font-size: 14pt;
  }
}/*# sourceMappingURL=index.css.map */